:root {
  --dark-gray: rgba(42, 45, 52, 1);
  --light-gray: hsl(222, 11%, 24%);
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 30% 70%;
  height: 100vh;
}

header > img {
  width: 30%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

#left-column-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.3s linear;
}

.circle-container {
  height: auto;
  width: auto;
  max-width: 40vmin;
  max-height: 40vmin;
  border-radius: 50%;
  z-index: -1;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.75);
}

.circle-container > img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

main {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 2fr 1fr;
  height: 100vh;
  padding: 15px 15px;
  box-sizing: border-box;
  overflow-y: scroll;
}

h1 {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 64px;
  font-weight: 700;
  color: white;
}

p {
  margin: 15px 0;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  color: white;
}

a,
a:visited {
  color: rgb(255, 255, 255);
}

h2 {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
  color: white;
}

section {
  padding: 15px;
  box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, 0.64);
}

#title {
  background-color: rgba(42, 45, 52, 1);
  grid-column: 1 / 3;
}

#links {
  background-color: rgba(0, 157, 220, 1);
}

#projects {
  background-color: rgba(242, 100, 48, 1);
  grid-row: 2 / span 2;
}

#contact {
  background-color: rgba(0, 155, 114, 1);
}

#footer {
  background-color: rgba(103, 97, 168, 1);
  display: flex;
  flex-direction: column;
  justify-content: end;
}

#footer > p {
  font-size: 14px;
  margin: 0;
}

@media (max-width: 800px) {
  main {
    grid-template-columns: 1fr;
    padding: 0;
    overflow: inherit;
    height: auto;
  }
  #title {
    grid-column: 1;
  }
  p {
    font-size: 18px;
  }

  body {
    grid-template-columns: 1fr;
  }
  header {
    position: static;
    height: auto;
    width: 100%;
  }
  .circle-container {
    border-radius: 0;
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    box-shadow: none;
  }

  .circle-container > img {
    border-radius: 0;
  }

  header > img {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  #background-image {
    display: none;
  }

  #left-column-container {
    background-color: var(--dark-gray);
  }

  .circle-container {
    z-index: 1;
  }

  main {
    background-color: var(--dark-gray);
  }

  #title {
    background-color: var(--light-gray);
  }

  #projects {
    background-color: rgb(118, 58, 55);
  }

  #links {
    background-color: rgb(28, 70, 86);
  }

  #contact {
    background-color: rgb(21, 80, 64);
  }
}
